<!--  This Source Code Form is subject to the terms of the MIT license
      If a copy of the MIT license was not distributed with this file, you can
      obtain one at http://www.mozillapopcorn.org/butter-license.txt -->

<style>
  #questions ul {
    list-style-type: none;
    display: inline;
    padding: 0px;
  }

  #questions ul input, #questions textarea {
    width: 240px;
    margin-right: 2px;
  }

  #questions button {
    margin-left: 2px;
  }

  #questions > div {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #questions select {
    width: 220px;
    margin-left: 20px;
  }
</style>

<div class="butter-editor default-editor allow-scrollbar">
  <h1>Quiz Editor</h1>
  <div class="butter-editor-body scrollbar-append-to">
    <div class="editor-options-wrapper scrollbar-outer">

      <div class="editor-options scrollbar-inner">
        <div class="error-message-container">
          <div class="error-message"></div>
        </div>

        <fieldset class="trackevent-property default input units">
          <label class="property-name">Start</label>
          <div class="butter-form-append">
            <input id="start" class="value" type="text" />
            <span class="butter-unit">seconds</span>
          </div>
        </fieldset>

        <fieldset class="trackevent-property default input units">
          <label class="property-name">End</label>
          <div class="butter-form-append">
            <input id="end" class="value" type="text" />
            <span class="butter-unit">seconds</span>
          </div>
        </fieldset>

        <fieldset class="trackevent-property targets">
          <label class="property-name">Target</label>
          <select id="target"></select>
        </fieldset>

        <fieldset class="trackevent-property default input checkbox">
          <label class="butter-form-checkbox">
            <input class="value" id="paginate" type="checkbox"/>
            <span class="property-name">Paginate</span>
          </label>
        </fieldset>

        <fieldset class="trackevent-property default input checkbox">
          <label class="butter-form-checkbox">
            <input class="value" id="results" type="checkbox"/>
            <span class="property-name">Show Results</span>
          </label>
        </fieldset>

        <fieldset class="trackevent-property default">
          <label class="property-name" style="display: inline">Questions</label>
          <button id="addQuestion">+</button>
          <div id="questions"></div>
        </fieldset>

      </div>
    </div>
  </div>
</div>

