#questions ul {
  list-style-type: none;
  display: inline;
  padding: 0px;
}

#questions ul input, #questions textarea {
  width: 240px;
  margin-right: 2px;
}

#questions button {
  margin-left: 2px;
}

#questions > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

#questions select, .quiz-explanation {
  width: 220px;
  margin-left: 20px;
}
