<!--  This Source Code Form is subject to the terms of the MIT license
      If a copy of the MIT license was not distributed with this file, you can
      obtain one at http://www.mozillapopcorn.org/butter-license.txt -->

<link rel="stylesheet" href="editors/toc-style.css" />

<div class="butter-editor default-editor allow-scrollbar">
  <h1>TOC Editor</h1>
  <div class="butter-editor-body scrollbar-append-to">
    <div class="editor-options-wrapper scrollbar-outer">

      <div class="editor-options scrollbar-inner">
        <div class="error-message-container">
          <div class="error-message"></div>
        </div>

        <fieldset class="trackevent-property targets">
          <label class="property-name">Target</label>
          <select id="target"></select>
        </fieldset>

        <fieldset class="trackevent-property default">
          <div class="property-name" style="display: inline">Sections</div>
          <button id="addSection">+</button>
          <div id="sections"></div>
        </fieldset>

      </div>
    </div>
  </div>
</div>

<div class="trackevent-property default input section">
  <ul>
    <li>
      <label class="trackevent-property default input">Title</label>
      <input class="section-title" />
      <button class="section-remove-button">-</button>
    </li>
    <li>
      <label class="trackevent-property default input">Time</label>
      <input class="section-time" />
    </li>
    <li>
      <label class="trackevent-property default input">Description</label>
      <textarea class="section-description"></textarea>
    </li>
  </ul>
</div>

