<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Fivel Template</title>

  <script src="../../../src/butter.js" data-butter-exclude></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" data-butter-exclude></script>
  <script type="text/javascript" src="ready.js" data-butter-exclude></script>

  <link rel="stylesheet" href="styles.css" />

</head>
<body>
  <div id="template-container">
    <div data-butter="target" id="toc"></div>
    <div id="video-container" data-butter="target">
      <div id="video" data-butter="media" data-butter-media-control="true"></div>
    </div>
    <div data-butter="target" id="quiz-container"></div>
  </div>
  <button id="opentoc" data-butter-exclude>Open TOC Editor</button>
  <button id="export" data-butter-exclude>Export</button>
</body>
</html>
